#!/bin/bash

export PATH=$PATH:/usr/local/go/bin
export GOPATH=`pwd`

mkdir -p $GOPATH/src/github.com/grafana
cd $GOPATH/src/github.com/grafana
cp -r {{ grafana_clone_dir }}/grafana .
cd grafana
# from https://github.com/monasca/monasca-docker/blob/master/grafana/Dockerfile
go run build.go setup
go run build.go build

source /root/.nvm/nvm.sh
nvm install {{ node_js_version }}
nvm use {{ node_js_version }}
npm config set unsafe-perm true
npm install -g yarn@0.27 && yarn --no-emoji
./node_modules/.bin/grunt build --force
mkdir -p {{ grafana_plugins_dir }}/monasca-grafana-datasource
cd {{ grafana_plugins_dir }}/monasca-grafana-datasource
git init
git remote add origin {{ grafana_monasca_datasource_git_repo }}
git fetch origin {{ grafana_monasca_datasource_git_install_branch }}
git reset --hard FETCH_HEAD
cd ..
mkdir monasca-grafana-app
cd monasca-grafana-app
git init
git remote add origin {{ grafana_monasca_app_git_repo }}
git fetch origin {{ grafana_monasca_app_git_install_branch }}
git reset --hard FETCH_HEAD
npm install grunt
npm install
./node_modules/.bin/grunt
